import os
# Arquivo de configurações locais para o modo de desenvolvimento
# Assim, o settings principal passa a ser usado apenas para o deploy de produção

DEBUG = True

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}
